<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>somebody once told me</h1>
<p>
Somebody once told me the world is gonna roll me <br>
I ain't the sharpest tool in the shed<br>
She was looking kind of dumb with her finger and her thumb<br>
In the shape of an "L" on her forehead<br>
Well the years start coming and they don't stop coming<br>
Fed to the rules and I hit the ground running<br>
Didn't make sense not to live for fun<br>
Your brain gets smart but your head gets dumb<br>
So much to do, so much to see<br>
So what's wrong with taking the back streets?<br>
You'll never know if you don't go<br>
You'll never shine if you don't glow<br>
Hey now, you're an all-star, get your game on, go play<br>
Hey now, you're a rock star, get the show on, get paid<br>
And all that glitters is gold<br>
Only shooting stars break the mold<br>
It's a cool place and they say it gets colder<br>
You're bundled up now, wait 'til you get older<br>
But the meteor men beg to differ<br>
Judging by the hole in the satellite picture<br>
The ice we skate is getting pretty thin<br>
The water's getting warm so you might as well swim<br>
My world's on fire, how about yours?<br>
That's the way I like it and I'll never get bored<br>
Hey now, you're an all-star, get your game on, go play<br>
Hey now, you're a rock star, get the show on, get paid<br>
All that glitters is gold<br>
Only shooting stars break the mold<br>
Hey now, you're an all-star, get your game on, go play<br>
Hey now, you're a rock star, get the show, on get paid<br>
And all that glitters is gold<br>
Only shooting stars<br>
Somebody once asked could I spare some change for gas?<br>
I need to get myself away from this place<br>
I said, "Yup" what a concept<br>
I could use a little fuel myself<br>
And we could all use a little change<br>
Well, the years start coming and they don't stop coming<br>
Fed to the rules and I hit the ground running<br>
Didn't make sense not to live for fun<br>
Your brain gets smart but your head gets dumb<br>
So much to do, so much to see<br>
So what's wrong with taking the back streets?<br>
You'll never know if you don't go (go!)<br>
You'll never shine if you don't glow<br>
Hey now, you're an all-star, get your game on, go play<br>
Hey now, you're a rock star, get the show on, get paid<br>
And all that glitters is gold<br>
Only shooting stars break the mold<br>
And all that glitters is gold<br>
Only shooting stars break the mold<br>
</p>
{% if current_user.is_authenticated %}
    <a href="{{ url_for('fetch.logout') }}" class="navbar-item">
        Logout
    </a>
    {% endif %}
</body>
</html>
